## DAB304 Project - Diabetic Patient's Re-admission

**Section003-Group5**

**Akshitha Fernandes (0790454)**

**Neha Dewangan (0768997)**

**Sagar Parmar (0769644)**

In [1]:
#Import the libraries

import pandas as pd
import numpy as np

In [2]:
diabetic_data = pd.read_csv("diabetic_data.csv")

#### Overview of the dataset

In [3]:
diabetic_data.head().T

,0,1,2,3,4
encounter_id,2278392,149190,64410,500364,16680
patient_nbr,8222157,55629189,86047875,82442376,42519267
race,Caucasian,Caucasian,AfricanAmerican,Caucasian,Caucasian
gender,Female,Female,Female,Male,Male
age,[0-10),[10-20),[20-30),[30-40),[40-50)
weight,?,?,?,?,?
admission_type_id,6,1,1,1,1
discharge_disposition_id,25,1,1,1,1
admission_source_id,1,7,7,7,7
time_in_hospital,1,3,2,2,1
payer_code,?,?,?,?,?
medical_specialty,Pediatrics-Endocrinology,?,?,?,?
num_lab_procedures,41,59,11,44,51
num_procedures,0,0,5,1,0
num_medications,1,18,13,16,8
number_outpatient,0,0,2,0,0
number_emergency,0,0,0,0,0
number_inpatient,0,0,1,0,0
diag_1,250.83,276,648,8,197
diag_2,?,250.01,250,250.43,157
diag_3,?,255,V27,403,250
number_diagnoses,1,9,6,7,5
max_glu_serum,None,None,None,None,None
A1Cresult,None,None,None,None,None
metformin,No,No,No,No,No
repaglinide,No,No,No,No,No
nateglinide,No,No,No,No,No
chlorpropamide,No,No,No,No,No
glimepiride,No,No,No,No,No
acetohexamide,No,No,No,No,No
glipizide,No,No,Steady,No,Steady
glyburide,No,No,No,No,No
tolbutamide,No,No,No,No,No
pioglitazone,No,No,No,No,No
rosiglitazone,No,No,No,No,No
acarbose,No,No,No,No,No
miglitol,No,No,No,No,No
troglitazone,No,No,No,No,No
tolazamide,No,No,No,No,No
examide,No,No,No,No,No
citoglipton,No,No,No,No,No
insulin,No,Up,No,Up,Steady
glyburide-metformin,No,No,No,No,No
glipizide-metformin,No,No,No,No,No
glimepiride-pioglitazone,No,No,No,No,No
metformin-rosiglitazone,No,No,No,No,No
metformin-pioglitazone,No,No,No,No,No
change,No,Ch,No,Ch,Ch
diabetesMed,No,Yes,Yes,Yes,Yes
readmitted,NO,>30,NO,NO,NO

In [4]:
diabetic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [5]:
# Checking the unique values in each column

diabetic_data.nunique()

encounter_id                101766
patient_nbr                  71518
race                             6
gender                           3
age                             10
weight                          10
admission_type_id                8
discharge_disposition_id        26
admission_source_id             17
time_in_hospital                14
payer_code                      18
medical_specialty               73
num_lab_procedures             118
num_procedures                   7
num_medications                 75
number_outpatient               39
number_emergency                33
number_inpatient                21
diag_1                         717
diag_2                         749
diag_3                         790
number_diagnoses                16
max_glu_serum                    4
A1Cresult                        4
metformin                        4
repaglinide                      4
nateglinide                      4
chlorpropamide                   4
glimepiride                      4
acetohexamide                    2
glipizide                        4
glyburide                        4
tolbutamide                      2
pioglitazone                     4
rosiglitazone                    4
acarbose                         4
miglitol                         4
troglitazone                     2
tolazamide                       3
examide                          1
citoglipton                      1
insulin                          4
glyburide-metformin              4
glipizide-metformin              2
glimepiride-pioglitazone         2
metformin-rosiglitazone          2
metformin-pioglitazone           2
change                           2
diabetesMed                      2
readmitted                       3
dtype: int64

In [6]:
# Removing the columns which are not required

diabetic_data = diabetic_data.drop(axis=1, columns=["citoglipton", "examide", "encounter_id", "payer_code", "weight"])

In [7]:
for column in diabetic_data:
    print(column)
    print(diabetic_data[column].value_counts())

patient_nbr
88785891     40
43140906     28
1660293      23
88227540     23
23199021     23
             ..
11005362      1
98252496      1
1019673       1
13396320      1
175429310     1
Name: patient_nbr, Length: 71518, dtype: int64
race
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64
gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64
age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64
admission_type_id
1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: admission_type_id, dtype: int64
discharge_disposition_id
1     60234
3     13954
6     12902
18     3691
2      2128
22     1993
11     1642
5      1184
25      989
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: discharge_disposition_id, dtype: int64
admission_source_id
7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
14        2
11        2
25        2
13        1
Name: admission_source_id, dtype: int64
time_in_hospital
3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Name: time_in_hospital, dtype: int64
medical_specialty
?                                49949
InternalMedicine                 14635
Emergency/Trauma                  7565
Family/GeneralPractice            7440
Cardiology                        5352
                                 ...
SportsMedicine                       1
Speech                               1
Perinatology                         1
Neurophysiology                      1
Pediatrics-InfectiousDiseases        1
Name: medical_specialty, Length: 73, dtype: int64
num_lab_procedures
1      3208
43     2804
44     2496
45     2376
38     2213
       ...
120       1
132       1
121       1
126       1
118       1
Name: num_lab_procedures, Length: 118, dtype: int64
num_procedures
0    46652
1    20742
2    12717
3     9443
6     4954
4     4180
5     3078
Name: num_procedures, dtype: int64
num_medications
13    6086
12    6004
11    5795
15    5792
14    5707
      ...
70       2
75       2
81       1
79       1
74       1
Name: num_medications, Length: 75, dtype: int64
number_outpatient
0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
18        5
22        5
19        3
27        3
24        3
26        2
23        2
25        2
33        2
35        2
36        2
29        2
34        1
39        1
42        1
28        1
37        1
38        1
40        1
Name: number_outpatient, dtype: int64
number_emergency
0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
16        5
18        5
19        4
20        4
15        3
14        3
25        2
21        2
28        1
42        1
46        1
76        1
37        1
64        1
63        1
54        1
24        1
29        1
Name: number_emergency, dtype: int64
number_inpatient
0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
21        1
18        1
Name: number_inpatient, dtype: int64
diag_1
428    6862
414    6581
786    4016
410    3614
486    3508
       ...
373       1
314       1
684       1
217       1
V51       1
Name: diag_1, Length: 717, dtype: int64
diag_2
276     6752
428     6662
250     6071
427     5036
401     3736
        ...
E918       1
46         1
V13        1
E850       1
927        1
Name: diag_2, Length: 749, dtype: int64
diag_3
250     11555
401      8289
276      5175
428      4577
427      3955
        ...
657         1
684         1
603         1
E826        1
971         1
Name: diag_3, Length: 790, dtype: int64
number_diagnoses
9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Name: number_diagnoses, dtype: int64
max_glu_serum
None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64
A1Cresult
None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64
metformin
No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64
repaglinide
No        100227
Steady      1384
Up           110
Down          45
Name: repaglinide, dtype: int64
nateglinide
No        101063
Steady       668
Up            24
Down          11
Name: nateglinide, dtype: int64
chlorpropamide
No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64
glimepiride
No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64
acetohexamide
No        101765
Steady         1
Name: acetohexamide, dtype: int64
glipizide
No        89080
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64
glyburide
No        91116
Steady     9274
Up          812
Down        564
Name: glyburide, dtype: int64
tolbutamide
No        101743
Steady        23
Name: tolbutamide, dtype: int64
pioglitazone
No        94438
Steady     6976
Up          234
Down        118
Name: pioglitazone, dtype: int64
rosiglitazone
No        95401
Steady     6100
Up          178
Down         87
Name: rosiglitazone, dtype: int64
acarbose
No        101458
Steady       295
Up            10
Down           3
Name: acarbose, dtype: int64
miglitol
No        101728
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64
troglitazone
No        101763
Steady         3
Name: troglitazone, dtype: int64
tolazamide
No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64
insulin
No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64
glyburide-metformin
No        101060
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64
glipizide-metformin
No        101753
Steady        13
Name: glipizide-metformin, dtype: int64
glimepiride-pioglitazone
No        101765
Steady         1
Name: glimepiride-pioglitazone, dtype: int64
metformin-rosiglitazone
No        101764
Steady         2
Name: metformin-rosiglitazone, dtype: int64
metformin-pioglitazone
No        101765
Steady         1
Name: metformin-pioglitazone, dtype: int64
change
No    54755
Ch    47011
Name: change, dtype: int64
diabetesMed
Yes    78363
No     23403
Name: diabetesMed, dtype: int64
readmitted
NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

In [8]:
# Removing the records with unknown values

diabetic_data = diabetic_data[(diabetic_data.race !="?")];
diabetic_data = diabetic_data[(diabetic_data.diag_1 !="?")];
diabetic_data = diabetic_data[(diabetic_data.diag_2 !="?")];
diabetic_data = diabetic_data[(diabetic_data.diag_3 !="?")];
diabetic_data = diabetic_data[(diabetic_data.medical_specialty !="?")];

In [9]:
diabetic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49735 entries, 9 to 101764
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_nbr               49735 non-null  int64
 1   race                      49735 non-null  object
 2   gender                    49735 non-null  object
 3   age                       49735 non-null  object
 4   admission_type_id         49735 non-null  int64
 5   discharge_disposition_id  49735 non-null  int64
 6   admission_source_id       49735 non-null  int64
 7   time_in_hospital          49735 non-null  int64
 8   medical_specialty         49735 non-null  object
 9   num_lab_procedures        49735 non-null  int64
 10  num_procedures            49735 non-null  int64
 11  num_medications           49735 non-null  int64
 12  number_outpatient         49735 non-null  int64
 13  number_emergency          49735 non-null  int64
 14  number_inpatient          49735 non-null  int64
 15  diag_1                    49735 non-null  object
 16  diag_2                    49735 non-null  object
 17  diag_3                    49735 non-null  object
 18  number_diagnoses          49735 non-null  int64
 19  max_glu_serum             49735 non-null  object
 20  A1Cresult                 49735 non-null  object
 21  metformin                 49735 non-null  object
 22  repaglinide               49735 non-null  object
 23  nateglinide               49735 non-null  object
 24  chlorpropamide            49735 non-null  object
 25  glimepiride               49735 non-null  object
 26  acetohexamide             49735 non-null  object
 27  glipizide                 49735 non-null  object
 28  glyburide                 49735 non-null  object
 29  tolbutamide               49735 non-null  object
 30  pioglitazone              49735 non-null  object
 31  rosiglitazone             49735 non-null  object
 32  acarbose                  49735 non-null  object
 33  miglitol                  49735 non-null  object
 34  troglitazone              49735 non-null  object
 35  tolazamide                49735 non-null  object
 36  insulin                   49735 non-null  object
 37  glyburide-metformin       49735 non-null  object
 38  glipizide-metformin       49735 non-null  object
 39  glimepiride-pioglitazone  49735 non-null  object
 40  metformin-rosiglitazone   49735 non-null  object
 41  metformin-pioglitazone    49735 non-null  object
 42  change                    49735 non-null  object
 43  diabetesMed               49735 non-null  object
 44  readmitted                49735 non-null  object
dtypes: int64(12), object(33)
memory usage: 17.5+ MB

In [10]:
# with unique values one and two 

diabetic_data1  = diabetic_data.drop(diabetic_data.columns[37:42], axis=1);
diabetic_data2 = diabetic_data1.drop(diabetic_data1.columns[32:36], axis=1);
diabetic_data3  = diabetic_data2.drop(diabetic_data2.columns[[22, 23, 24, 26]], axis=1);
diabetic_data4 = diabetic_data3.drop(diabetic_data3.columns[[25]], axis=1);

In [11]:
diabetic_data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49735 entries, 9 to 101764
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_nbr               49735 non-null  int64
 1   race                      49735 non-null  object
 2   gender                    49735 non-null  object
 3   age                       49735 non-null  object
 4   admission_type_id         49735 non-null  int64
 5   discharge_disposition_id  49735 non-null  int64
 6   admission_source_id       49735 non-null  int64
 7   time_in_hospital          49735 non-null  int64
 8   medical_specialty         49735 non-null  object
 9   num_lab_procedures        49735 non-null  int64
 10  num_procedures            49735 non-null  int64
 11  num_medications           49735 non-null  int64
 12  number_outpatient         49735 non-null  int64
 13  number_emergency          49735 non-null  int64
 14  number_inpatient          49735 non-null  int64
 15  diag_1                    49735 non-null  object
 16  diag_2                    49735 non-null  object
 17  diag_3                    49735 non-null  object
 18  number_diagnoses          49735 non-null  int64
 19  max_glu_serum             49735 non-null  object
 20  A1Cresult                 49735 non-null  object
 21  metformin                 49735 non-null  object
 22  glimepiride               49735 non-null  object
 23  glipizide                 49735 non-null  object
 24  glyburide                 49735 non-null  object
 25  pioglitazone              49735 non-null  object
 26  rosiglitazone             49735 non-null  object
 27  insulin                   49735 non-null  object
 28  change                    49735 non-null  object
 29  diabetesMed               49735 non-null  object
 30  readmitted                49735 non-null  object
dtypes: int64(12), object(19)
memory usage: 12.1+ MB

In [13]:
# Check the records with unique values in each column

i = 0
for column in diabetic_data3:
    print(column + " -- " + str(i))
    i +=1
    print(diabetic_data3[column].value_counts())

patient_nbr -- 0
88785891     39
23199021     23
1660293      22
92709351     21
88789707     20
             ..
23911254      1
4727547       1
7865910       1
68278050      1
106392411     1
Name: patient_nbr, Length: 36991, dtype: int64
race -- 1
Caucasian          36667
AfricanAmerican    10683
Hispanic            1124
Other                824
Asian                437
Name: race, dtype: int64
gender -- 2
Female             26917
Male               22817
Unknown/Invalid        1
Name: gender, dtype: int64
age -- 3
[70-80)     12710
[60-70)     11013
[50-60)      8693
[80-90)      7950
[40-50)      4985
[30-40)      1909
[90-100)     1326
[20-30)       812
[10-20)       285
[0-10)         52
Name: age, dtype: int64
admission_type_id -- 4
1    19885
2    12299
3    11755
6     3815
5     1699
8      280
4        2
Name: admission_type_id, dtype: int64
discharge_disposition_id -- 5
1     31368
3      6528
6      5220
22     1126
2      1080
18      877
11      812
25      757
5       698
4       407
7       267
23      207
13      152
14      104
8        41
15       22
28       21
17       11
16       11
24        8
19        8
12        3
9         3
10        2
20        1
27        1
Name: discharge_disposition_id, dtype: int64
admission_source_id -- 6
7     24783
1     17115
17     4174
6      1507
4      1373
5       498
2       182
9        43
3        42
8        11
22        3
10        2
14        1
13        1
Name: admission_source_id, dtype: int64
time_in_hospital -- 7
3     8450
2     8275
1     7158
4     6684
5     4813
6     3727
7     2919
8     2229
9     1500
10    1173
11     949
12     725
13     608
14     525
Name: time_in_hospital, dtype: int64
medical_specialty -- 8
InternalMedicine                    13967
Emergency/Trauma                     7472
Family/GeneralPractice               7140
Cardiology                           5218
Surgery-General                      2969
                                    ...
Pediatrics-InfectiousDiseases           1
Perinatology                            1
Neurophysiology                         1
Surgery-PlasticwithinHeadandNeck        1
Psychiatry-Addictive                    1
Name: medical_specialty, Length: 72, dtype: int64
num_lab_procedures -- 9
1      1676
43     1595
44     1303
45     1244
38     1188
       ...
120       1
104       1
132       1
121       1
108       1
Name: num_lab_procedures, Length: 116, dtype: int64
num_procedures -- 10
0    20462
1    10834
2     6738
3     5343
6     2494
4     2125
5     1739
Name: num_procedures, dtype: int64
num_medications -- 11
12    2941
13    2936
11    2851
15    2770
10    2739
      ...
75       2
81       1
79       1
72       1
74       1
Name: num_medications, Length: 75, dtype: int64
number_outpatient -- 12
0     43368
1      3622
2      1283
3       695
4       368
5       153
6        80
7        51
8        27
10       23
9        22
11        9
14        8
13        8
12        5
16        3
15        3
29        1
36        1
18        1
22        1
38        1
24        1
17        1
Name: number_outpatient, dtype: int64
number_emergency -- 13
0     44215
1      3687
2       955
3       344
4       201
5       105
7        51
6        43
8        33
9        19
10       17
11       12
13       10
22        5
18        5
12        5
19        4
20        3
16        3
15        3
14        2
21        2
37        1
24        1
54        1
63        1
64        1
25        1
76        1
46        1
28        1
42        1
29        1
Name: number_emergency, dtype: int64
number_inpatient -- 14
0     32941
1      9678
2      3671
3      1611
4       768
5       391
6       257
7       150
8        89
9        71
10       34
11       31
12       19
13       11
14        7
15        3
16        3
Name: number_inpatient, dtype: int64
diag_1 -- 15
414    3654
428    3260
786    2069
486    1650
410    1563
       ...
691       1
980       1
911       1
834       1
10        1
Name: diag_1, Length: 642, dtype: int64
diag_2 -- 16
276    3170
428    3160
250    3034
427    2397
401    2033
       ...
754       1
V08       1
868       1
968       1
V55       1
Name: diag_2, Length: 653, dtype: int64
diag_3 -- 17
250    6123
401    4411
276    2424
428    2123
414    1862
       ...
347       1
987       1
161       1
115       1
523       1
Name: diag_3, Length: 690, dtype: int64
number_diagnoses -- 18
9     21237
5      6990
6      5666
8      5466
7      5318
4      3280
3      1753
16        9
13        5
14        4
10        4
15        2
11        1
Name: number_diagnoses, dtype: int64
max_glu_serum -- 19
None    46898
Norm     1476
>200      842
>300      519
Name: max_glu_serum, dtype: int64
A1Cresult -- 20
None    41259
>8       4344
Norm     2154
>7       1978
Name: A1Cresult, dtype: int64
metformin -- 21
No        39985
Steady     8946
Up          544
Down        260
Name: metformin, dtype: int64
glimepiride -- 22
No        46751
Steady     2659
Up          205
Down        120
Name: glimepiride, dtype: int64
glipizide -- 23
No        43155
Steady     5897
Up          423
Down        260
Name: glipizide, dtype: int64
glyburide -- 24
No        44862
Steady     4273
Up          358
Down        242
Name: glyburide, dtype: int64
tolbutamide -- 25
No        49729
Steady        6
Name: tolbutamide, dtype: int64
pioglitazone -- 26
No        46269
Steady     3297
Up          112
Down         57
Name: pioglitazone, dtype: int64
rosiglitazone -- 27
No        46315
Steady     3268
Up          108
Down         44
Name: rosiglitazone, dtype: int64
insulin -- 28
No        22743
Steady    15042
Down       6340
Up         5610
Name: insulin, dtype: int64
change -- 29
No    26384
Ch    23351
Name: change, dtype: int64
diabetesMed -- 30
Yes    38753
No     10982
Name: diabetesMed, dtype: int64
readmitted -- 31
NO     27418
>30    16894
<30     5423
Name: readmitted, dtype: int64

In [31]:
# Overview of clean data

diabetic_data4.head()

,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,...,metformin,glimepiride,glipizide,glyburide,pioglitazone,rosiglitazone,insulin,change,diabetesMed,readmitted
9,63555939,Caucasian,Female,[90-100),3,3,4,12,InternalMedicine,33,...,No,No,No,No,No,Steady,Steady,Ch,Yes,NO
12,85504905,Caucasian,Female,[40-50),1,3,7,7,Family/GeneralPractice,60,...,Steady,No,No,No,No,No,Down,Ch,Yes,<30
13,77586282,Caucasian,Male,[80-90),1,6,7,10,Family/GeneralPractice,55,...,No,No,No,No,No,No,Steady,No,Yes,NO
17,108662661,Caucasian,Female,[50-60),1,1,7,3,Cardiology,29,...,No,No,No,Steady,No,No,No,No,Yes,NO
26,40523301,Caucasian,Male,[80-90),1,3,7,6,Cardiology,64,...,Steady,No,No,Steady,No,No,No,Ch,Yes,NO

In [29]:
# Statistical summary of numerical dataset

diabetic_data4.describe()

,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,4.973500e+04,49735.000000,49735.000000,49735.000000,49735.000000,49735.000000,49735.000000,49735.000000,49735.000000,49735.000000,49735.000000,49735.000000
mean,4.858817e+07,2.279702,3.420328,5.622921,4.425636,42.991334,1.457686,15.899548,0.254207,0.210858,0.644737,7.233498
std,3.861046e+07,1.515115,5.177491,4.396375,3.018004,19.631642,1.721867,8.287685,0.941903,1.114055,1.290760,1.903392
min,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000
25%,1.880057e+07,1.000000,1.000000,1.000000,2.000000,32.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,3.781166e+07,2.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,8.848130e+07,3.000000,3.000000,7.000000,6.000000,56.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,1.893659e+08,8.000000,28.000000,22.000000,14.000000,132.000000,6.000000,81.000000,38.000000,76.000000,16.000000,16.000000

In [30]:
# Save the clean data as a new dataset

diabetic_data4.to_csv("clean_new.csv", index=False)